*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}

body {
    font-size: 1rem;
    line-height: 1.5;
}

header {
    background-color: #110A58;
    color: white;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal {
    display: none;
    position: fixed;
    top: 56px;
    left: 0;
    width: 100%;
    height: 1vh;
    z-index: 1001; 
}

.modal-content {
    display: flex;
    background-color: white;
    width: 100vw;
    justify-content: center;
    height: fit-content;
    gap: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content a {
    display: block;
    margin: 15px 0;
    text-decoration: none;
    color: #110A58;
    font-weight: 600;
    padding: 3px;
}

.modal-content a:hover {
    background-color: #110A58;
    color: white;
    border-radius: 5px;
}

.modal.active {
    display: flex;
}

nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0;
    width: 100%;
}

#links {
    display: none; 
}


#menu {
    display: block;
    cursor: pointer;
}

#Home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
    margin-top: 50px;
    background-image: url(./_77a3c101-e0be-499b-b7ae-0db5e56d69f2\ -\ Copiaedited.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}



#Home h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    
}

#Home a {
    text-decoration: none;
    background-color: white;
    font-weight:600 ;
    color: #13034D;
    padding: 10px 20px;
    border-radius: 5px;
}

.logo-senar {
    background-color: black;
    padding: 10px;
    border-radius: 7px;
    width: 50%;
    margin: 20px 15px;
}

.title img{
    width: 20%;
}

#Home a:hover{
    background-color: #493ce0;
    color: white;
}

#Aulas {
    padding: 20px;
    background-color: #e9ecef;
    text-align: center;
}

#Aulas h2 {
    margin-bottom: 20px;
}

#forms {
    text-align: center;
    padding: 30px;
    
}

#forms h2 {
    color: #110A58;
}

#forms a {
    font-weight: 600;
    color: #110A58;
    cursor: pointer;
}

#forms img{
    width: 5rem;
    margin-top: 10px;
    cursor: pointer;
    padding: 5px;
}

#forms img:hover{
    transform:scale(1.1);
    transition: .4s ease;
}

#forms div {
    border: 10px solid #110A58;
    padding: 20px;
    border-radius: 50px;
    background-color: white;
}

#caixas {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    line-height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box a {
    text-decoration: none;
    background-color: #13034D;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    display: inline-block;
    margin-top: auto;
    width: 30%;
    margin-left: 35%;
}

#redirecionar {
    padding: 20px;
    background-color: #13034D;
    text-align: center;
    margin-top: 10px;
}

#redirecionar h2 {
    margin-bottom: 20px;
    color: white;
}

.Cursos {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    /* line-height: 3rem; */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#cursos-big {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2px;
}

.Cursos a {
    text-decoration: none;
    background-color: #13034D;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}

.Cursos a:hover {
    background-color: #493ce0;
    transition: all .1s ease-in;
    transform: scale(1.02);
}

#Home a:hover{
    background-color: #493ce0;
    transition: all .1s ease-in;
    transform: scale(1.02);
}
#Aulas a:hover{
    background-color: #493ce0;
    transition: all .1s ease-in;
    transform: scale(1.02);
}

footer {
    background: #17112d;
    color: #ffffff;
    text-align: center;
    padding: 20px;
  }

@media (min-width: 601px) {
    #caixas {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .box {
        flex: 1 1 calc(50% - 40px); /* 2 colunas */
        max-width: calc(50% - 40px);
    }

    .Cursos {
        flex: 1 1 calc(50% - 40px); /* 2 colunas */
        max-width: calc(50% - 40px);
        margin: 0 10px 20px;
    }

    #Home h1{
        width: 50%;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #links {
        display: flex; 
    }

    header a {
        display: flex;
        text-decoration: none;
        color: white;
        font-weight: 600;
        padding: 10px;
        border-radius: 7px;
    }

    header a:hover{
        background-color: white;
        color: #110A58;
    }

    header span {
        display: none;
    }

    #menu {
        display: none;
    }
}

@media (min-width: 901px) {
    .box {
        flex: 1 1 calc(33.33% - 40px); /* 3 colunas */
        max-width: calc(33.33% - 40px);
    }

    .Cursos {
        flex: 1 1 calc(33.33% - 40px); /* 3 colunas */
        max-width: calc(33.33% - 40px);
    }
}